<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

    <body>
        <div class="wrapper">
            <%- include('./partials/menu.ejs') %>
                <div class="main">
                    <h1>Главная страница</h1>
                </div>
                <a href="page1.ejs">page 1</a>
                <a href="page2.ejs">page 2</a>
        </div>
    </body>

</html>