<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

    <body>
        <div class="wrapper">
            <%- include('./partials/menu.ejs') %>
                <div class="main">
                    <h1>Cтраница 1</h1>
                </div>
                <a href="page2.ejs">page 2</a>
                <a href="index.ejs"">main page</a>
        </div>
    </body>

</html>