<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

    <body>
        <div class="wrapper">
            <%- include('./partials/menu.ejs') %>
                <div class="main">
                    <h1>Cтраница 2</h1>
                </div>
                <a href="page1.ejs">page 1</a>
                <a href="index.ejs">main page</a>
        </div>
    </body>

</html>